<div id="marc_view" class="marc_view">
  <div class="field"><%= t('blacklight.search.librarian_view.leader', :leader => document.to_marc.leader) %></div>
  <%- document.to_marc.each do |field| -%>
    <div class="field">
      <%- if field.is_a?(MARC::ControlField) -%>
      <div class="tag_ind">
        <span class="tag"><%= field.tag %></span>
      </div>
      <span class="control_field_values">
        <%= h(field.value) %>
      </span>
      <%- else -%>
      <div class="tag_ind">
        <span class="tag"><%= field.tag %></span>
        <div class="ind1">
          <%= field.try(:indicator1).present? ? field.indicator1 : "&nbsp;".html_safe -%>
        </div>
        <div class="ind2">
          <%= field.try(:indicator2).present? ? field.indicator2 : "&nbsp;".html_safe -%>
        </div>
      </div>
      <div class="subfields">
        <%- field.each do |sub| -%>
        <span class="sub_code"><%= sub.code %>|</span> <%= sub.value %>
        <%- end -%>
      </div>
      <%- end -%>
    </div>
  <%- end -%>
</div>
